<ion-view title="My Likes">
  <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="myLikesController as ml">
    <form action="">
      <!--<button class="button button-clear" ng-click="ml.getLikes()">Click Me</button>-->

      <h1 class="rcArtistName">{{ml.currentArtist}}</h1>
      <img class="rcImg" class="cover" ng-src="{{ml.bandPic}}"/>
      <button class="ion-ios-trash" ng-click="ml.deleteLike(ml.currentArtist)"></button>
      <div>
      {{"Popularity: " + ml.popularity}}</br>
      {{"Genre: " + ml.genre}}
      </div>
      <span class="ion-ios-star-outline" ng-click="ml.rating(1, ml.currentArtist)" id="star1"></span>
      <span class="ion-ios-star-outline" ng-click="ml.rating(2, ml.currentArtist)" id="star2"></span>
      <span class="ion-ios-star-outline" ng-click="ml.rating(3, ml.currentArtist)" id="star3"></span>
      <span class="ion-ios-star-outline" ng-click="ml.rating(4, ml.currentArtist)" id="star4"></span>
      <span class="ion-ios-star-outline" ng-click="ml.rating(5, ml.currentArtist)" id="star5"></span>
      <div class="item-button-right">
        <button class="button item-button-right" ui-sref="tabsController.artistHome" ng-click="ml.artistStuff(ml.currentArtist, ml.bandPic)">Artist Page</button>
      </div>
      <br/>

      <ul ng-repeat="liked in ml.artistService.currentLikes">
        <li class="button button-block button-dark" ng-click="ml.artistSearch(liked.ArtistName)">{{liked.ArtistName}}</li>
      </ul>
    </form>
  </ion-content>
</ion-view>
